.wrapper-d {
    width: 98%;
    margin-left: 1%;
    height: auto;
    float: left;
    position: relative;
    min-height: 500px;
}

.flyer_content {
width: 100%;
min-height: 1000px;
float: left;
margin-bottom: 15px;
max-width: 1200px;
}

.pages {
width: 100%;
max-height: 1200px;
overflow: auto;
float: left;
position:relative;
border: 1px solid #f0f0f0;
}

.down_arr {
position: fixed;
z-index: 9999999999;
right: -60px;
bottom: 515px;
max-width: 70px;
cursor: pointer;
border: 1px solid #f0f0f0;
border-right: 0px;
padding: 5px;
padding-bottom: 0px;
padding-left: 10px;
-webkit-box-shadow: inset 0 0 5px 2px #E8E8E8;
box-shadow: inset 0 0 5px 2px #E8E8E8;
}

#monetate_selectorBanner_547a18a2_00 {
display: none !important;
}

/*-----------------------------------*/

    .myname-d,
    .mypage-d {
        width: 50%
    }


    .topmenu {
width: 100%;
margin-top: 8px;
float: left;
margin-bottom: 5px;
position: relative;
padding-bottom: 5px;
min-height: 90px;
}

.topmenu img {
padding: 5%;
position: relative;
margin-left: 30%;
float: left;
height: auto;
width: 40%;
}

.submenu-d:hover {
    opacity: .8
}

.scrollLink {
    color: #333
}

.submenu_title {
    width: 100%;
    text-align: center;
    float: left;
    font-size: .765em;
    font-weight: 500
}

.myname-d {
    float: left;
    padding-left: 5px
}

.mypage-d {
    width: 30%;
    float: right;
    padding-right: 5px;
    text-align: right
}

.gridproducts {
min-height: 370px;
float: left;
width: 100%;
position: relative;
}

.gridproducts li:nth-child(3) .product-tile {
    border-right: none
}

/*-----------------------------------*/




.flyer_title {
    width: 100%;
    font-size: .875em;
    font-weight: 500;
    color: #fff;
    background-color: #d71920;
    float: left;
    padding: 5px;
    margin-top: 10px
}


.submenu-d {
    width: 16.66666666666%;
    float: left;
    min-height: auto;
    cursor: pointer;
    opacity: 1;
    max-height: 10%;
    position: relative;
    display: none
}



.pg_internal {
   width: 100%;
   float: left;
   min-height: 1000px;
   position: relative;
   background-color: #fff;
   overflow: auto;
}

.whatiam {
    width: 100%;
    height: auto;
    padding-left: 1%;
    float: left;
    font-size: 1em;
    text-align: left;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 2px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
.whatiam:first-of-type {
    margin-top: 0px;
}

/*-----------------------*/

.pg_internal .promo_box_100 {
    width: 100%;
    float: left;
    position: relative;
    min-height: 250px;
}

.pg_internal .promo_box_50 {
    width: 49%;
    margin-left: .5%;
    float: left;
    position: relative;
    border: 1px solid #ccc;
    min-height: 220px;
}

.pg_internal .promo_box_33 {
width: 32.7%;
margin-left: 0;
float: left;
position: relative;
max-height: 385px;
}

.promo_box_100 img,
.promo_box_33 img,
.promo_box_50 img {
    width: 100%;
position: relative;
float: left;
}

.promo_box_100 object,
.promo_box_33 object,
.promo_box_50 object {
    width: 100%;
   position: relative;
float: left;
    
}


/*---------------------------------*/

.product-tile {
    width: 32%;
    float: left;
    border-right: none;
    min-height: 370px;
    position: relative;
    margin-left: 1%;
    margin-right: .5%;
    background-color: #fff;
    margin-bottom: 1%;
    margin-top: .5%;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;
    border-left: none
}

li,
ol,
ul {
    list-style: none
}

.product-tile:first-child {
    margin-left: .8%
}



.BUYNOW {
    position: absolute;
    bottom: 4%;
    right: 7%;
    z-index: 99;
    background-color: #d31b28;
    color: #fff;
    width: 105px;
    text-align: center;
    height: 35px;
    line-height: 35px;
    font-weight: 500;
    font-size: .875em;
    border-radius: 5px
}

.product-image {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-height: 230px;
    margin-top: 2px;
    max-width: 320px
}

.product-image img {
    margin-left: 15%;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
    max-height: 200px;
    width: auto
}

.product-details-container {
    width: 98%;
    position: relative;
    padding-left: 5%;
    padding-right: 1%;
    font-size: .875em;
    font-weight: 400;
    padding-bottom: 10px;
    max-width: 350px
}

.product-details-container .livehtmld {
    float: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden
}

.model {
    font-size: .75em;
    color: #757575
}

.price-container {
    text-align: left
}

.salePrice {
    color: #000;
    font-size: 1.8em;
    font-weight: 500;
    padding-bottom: 5px;
    margin-top: 0
}

.originalPrice {
    font-size: .8em;
    margin-top: -5px;
    color: #757575
}

.savings {
    text-align: left;
    font-size: .875em;
    color: #d71920;
    margin-top: 5px;
    font-weight: 300
}

.variantList {
    width: 100%;
    float: left;
    margin-bottom: 6px
}

.variant {
    float: left;
    max-width: 25px;
    max-height: 25px;
    margin-right: 8px;
    cursor: pointer
}

.variant img {
    width: 100%
}

.package .product-tile {
    width: 25% !important;
    border: none;
    margin: 0 !important
}



    .singleproduct {
        width: 33%
    }

    .singleproduct  .product-tile {
width: 100%;
border: none;
}



    .showdual .product-tile {
   width: 98% !important;
   margin-left: 1% !important;
   float: left;
   border: none;
   border-right: none;
   border-top: none;
   min-height: auto;
   position: relative;
   margin-left: 1%;
   margin-right: 1%;
   background-color: #fff;
   margin-bottom: 1% !important;
   margin-top: .5%;
   border-bottom: 1px solid #ccc;
   margin-bottom: 5px;
}

    .showdual .product-details-container {
   width: 68%;
   float: left;
   position: relative;
   padding-left: 5%;
   padding-right: 1%;
   font-size: .875em;
   font-weight: 400;
   padding-bottom: 10px;
   max-width: 350px;
   top: 0px;
}

.showdual .product-image {
   width: 30%;
   float: left;
   margin-left: auto;
   margin-right: auto;
   max-height: 230px;
   margin-top: 2px;
   max-width: 320px;
}

.showdual .product-image img {
        width: 100%
}

.showdual .product-image {
    width: 60%;
    float: left;
    margin-left: auto;
    margin-right: auto;
    max-height: 230px;
    margin-top: 2px;
    max-width: 320px
}

.showdual .product-image img {
    margin-left: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
    max-height: initial;
    width: auto
}

.showdual .product-details-container {
    width: 53%;
    padding-left: 8%;
    padding-right: 1%;
    font-size: .875em;
    font-weight: 400;
    padding-bottom: 10px;
    max-width: 350px;
    float: left;
    position: absolute;
    right: 0;
    top: 90px
}

.showdual .product-variant-container {
    display: none
}

.showdual .product-details-container .livehtmld {
    float: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 1.1em
}

.showdual .product-tile {
   width: 48% !important;
   border: none;
   border-bottom: none;
   min-height: 320px;
}

.showdual {
    min-height: 200px
}

.largeProduct {
    min-height: auto;
    margin-bottom: 0;
    overflow: hidden;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
}

.largeProduct .product-tile {
    width: 98%;
    max-height: 300px;
    min-height: 300px;
    border: none;
    background-color: transparent
}

.largeProduct .product-tile .BUYNOW {
    position: absolute;
    bottom: 4%;
    right: 1%;
    z-index: 99;
    background-color: #d31b28;
    color: #fff;
    width: 135px;
    text-align: center;
    height: 45px;
    line-height: 45px;
    font-weight: 500;
    font-size: 1.2em;
    border-radius: 5px
}

.largeProduct .product-tile .product-image {
    width: 50%;
    margin-left: inherit;
    margin-right: inherit;
    margin-top: 2px;
    max-width: 290px;
    float: left;
    overflow: hidden;
    position: relative
}

.largeProduct .product-tile .product-image img {
    margin-left: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
    max-height: none;
    width: 100%
}

.largeProduct .product-tile .product-details-container {
    width: 50%;
    position: relative;
    padding-left: 5%;
    padding-right: 1%;
    font-size: .875em;
    font-weight: 400;
    padding-bottom: 10px;
    max-width: inherit;
    float: right;
    margin-top: 45px
}

.largeProduct .product-tile .product-details-container .livehtmld {
    float: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 1.9em;
    width: 100%;
    color: #fff !important;
    text-align: right
}

.largeProduct .product-tile .salePrice {
    color: #fff;
    font-size: 2.8em;
    font-weight: 500;
    padding-bottom: 5px;
    margin-top: 0
}

.largeProduct .product-tile .price-container {
    text-align: right
}

.largeProduct .product-tile .model {
    font-size: .75em;
    color: #757575;
    text-align: right
}



.priceonly {
   width: 100%;
   min-height: 400px;
}
.priceonly .product-tile .product-details-container .livehtmld ,  .priceonly .product-tile .model {
   display: none !important;
}

.priceonly .product-tile .price-container {
   text-align: left;
}

.priceonly  .product-tile .salePrice {
   font-size: 2.4em;
}

.priceonly .product-tile .product-details-container {
   width: 100%;
   position: absolute;
   padding-left: 4%;
   letter-spacing: 2px;
   padding-right: 1%;
   font-size: 240%;
   font-weight: 800;
   padding-bottom: 10px;
   max-width: inherit;
   float: left;
   margin-top: 45px;
   bottom: -15px;
}
.priceonly .product-tile .salePrice {
   color: #fff;
   font-size: 240%;
   font-weight: 500;
   padding-bottom: 5px;
   margin-top: 0;
   text-align: left;
}

.priceonly object {
   position: absolute;
   width: 100%;
   height: auto;
}

.priceonly .product-tile {
   width: 98%;
   max-height: 370px;
   min-height: 370px;
   border: none;
   background-color: transparent;
}


.priceonly  .BUYNOW {
display: none;
}

.topmenu-scroll {
    width: 98%;
    margin-top: 8px;
    float: left;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 5px;
    position: fixed;
    z-index: 999999999999;
    max-width: 1176px;
    background-color: #fff;
    top: 139px;
    min-height: 90px
}

.flyer_title-scroll {
    position: fixed;
    top: 108px;
    z-index: 9999;
    max-width: 1176px;
    width: 98%
}

.t_make_small {
    font-size: 0.65em;
}




.pages::-webkit-scrollbar {
-webkit-appearance: none;
}

.pages::-webkit-scrollbar:vertical {
width: 11px;
}

.pages::-webkit-scrollbar:horizontal {
height: 40px;
}

.pages::-webkit-scrollbar-thumb {
border-radius: 8px;
border: 2px solid white; /* should match background, can't be transparent */
background-color: rgba(0, 0, 0, .5);
}

.pages::-webkit-scrollbar-track { 
background-color: #fff; 
border-radius: 8px; 
} 


@media (width:768px) {
   .submenu_title {
   font-size: .765em;
}
.topmenu {
   width: 100%;
   margin-top: 18px;
   float: left;
   margin-bottom: 0px;
   position: relative;
   padding-bottom: 0px;
   min-height: 70px;
}
.flyer_title-scroll {
   position: fixed;
   top: 50px;
   z-index: 9999;
   max-width: 1176px;
   width: 100%;
   left: 0%;
}
.topmenu-scroll {
   width: 100%;
   margin-top: 8px;
   float: left;
   border: 1px solid #ccc;
   margin-bottom: 10px;
   padding-bottom: 5px;
   position: fixed;
   z-index: 999999999999;
   max-width: 1176px;
   background-color: #fff;
   top: 81px;
   min-height: 65px;
   left: 0px;
}

.product-image img {
   margin-left: 0%;
}
.showdual .product-image {
   width: 50%;
}

.showdual .product-image img {
   width: 100%;
}
.showdual .product-details-container {
   top: 37px;
   font-size: .775em;
}

.showdual .product-tile {
   min-height: 210px;
}

.largeProduct .product-tile .product-details-container {
width: 100%;
}



}


@media (max-width:767px) {


    .pages {
border:none;
}


    .topmenu {
        min-height: 75px
    }

    .whatiam {
        margin-top: 0;
        margin-bottom: 00px
    }

    .package .product-tile {
        width: 98% !important
    }

    .product-image {
        width: 30%;
        margin-left: inherit;
        margin-right: inherit;
        float: left;
        max-height: 230px;
        margin-top: 2px;
        max-width: 320px
    }

    .product-image img {
        margin-left: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: 0;
        margin-top: 0;
        max-height: 200px;
        width: 100%;
        height: auto
    }

    .product-details-container {
        width: 68%;
        float: left;
        position: relative;
        padding-left: 5%;
        padding-right: 1%;
        font-size: .875em;
        font-weight: 400;
        padding-bottom: 10px;
        max-width: 350px
    }

    .product-tile {
        width: 98% !important;
        margin-left: 1% !important;
        float: left;
        border: none;
        border-right: none;
        border-top: none;
        min-height: auto;
        position: relative;
        margin-left: 1%;
        margin-right: 1%;
        background-color: #fff;
        margin-bottom: 1% !important;
        margin-top: .5%;
        border-bottom: 1px solid #ccc;
        margin-bottom: 5px
    }

    .variantList {
        display: none
    }

    .BUYNOW {
        position: absolute;
        bottom: 10%;
        right: 2%;
        z-index: 99;
        background-color: #d31b28;
        color: #fff;
        width: 85px;
        text-align: center;
        height: 30px;
        line-height: 30px;
        font-weight: 500;
        font-size: .875em;
        border-radius: 5px
    }

    .myname-d, .mypage-d {
width: 25%;
}

.myname-d {
float: left;
padding-left: 5px;
width: 65% !important;
font-size: 0.775em;
margin-top: 3px;
}


    .savings {
        font-weight: 500
    }

    .topmenu-scroll {
        width: 100%;
        margin-left: -1%;
        margin-top: 8px;
        float: left;
        margin-bottom: 10px;
        padding-bottom: 5px;
        position: fixed;
        z-index: 999999999999;
        max-width: 1176px;
        background-color: #fff;
        top: 75px;
        border-top: none
    }

    .flyer_title-scroll {
        width: 100%;
        margin-left: -1%;
        font-size: .875em;
        font-weight: 500;
        color: #fff;
        background-color: #d71920;
        float: left;
        padding: 5px;
        margin-top: 10px;
        position: fixed;
        z-index: 9999999999;
        top: 40px;
        border-bottom: 5px solid #fff
    }

    .topmenu img {
        padding: 5%;
        position: relative;
        margin-left: 15%;
        float: left;
        height: auto;
        width: 70%;
        padding-top: 5px;
        padding-bottom: 5px
    }

    .submenu_title {
        width: 100%;
        text-align: center;
        float: left;
        font-size: .365em;
        font-weight: 500
    }

    .showdual .product-tile {
   width: 98% !important;
   margin-left: 1% !important;
   float: left;
   border: none;
   border-right: none;
   border-top: none;
   min-height: auto;
   position: relative;
   margin-left: 1%;
   margin-right: 1%;
   background-color: #fff;
   margin-bottom: 1% !important;
   margin-top: .5%;
   border-bottom: 1px solid #ccc;
   margin-bottom: 5px;
}

    .showdual .product-details-container {
   width: 68%;
   float: left;
   position: relative;
   padding-left: 5%;
   padding-right: 1%;
   font-size: .875em;
   font-weight: 400;
   padding-bottom: 10px;
   max-width: 350px;
   top: 0px;
}

.showdual .product-image {
   width: 30%;
   float: left;
   margin-left: auto;
   margin-right: auto;
   max-height: 230px;
   margin-top: 2px;
   max-width: 320px;
}

.showdual .product-image img {
        width: 100%
}

    .pg_internal .promo_box_50 {
        width: 100%;
        float: left;
        position: relative
    }

    .singleproduct {
        width: 100%
    }

    .largeProduct {
        min-height: auto;
        margin-bottom: 0;
        overflow: hidden;
        background-color: #000;
        background-repeat: no-repeat;
        background-size: cover;
        max-height: 200px
    }

    .largeProduct .product-tile {
        width: 98%;
        max-height: 200px;
        min-height: 200px;
        border: none;
        background-color: transparent
    }

    .largeProduct .product-tile .product-details-container {
        width: 100%;
        position: relative;
        padding-left: 5%;
        padding-right: 1%;
        font-size: .875em;
        font-weight: 400;
        padding-bottom: 10px;
        max-width: inherit;
        float: right;
        margin-top: 5px
    }

    .largeProduct .product-tile .product-details-container .livehtmld {
        float: left;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        font-size: 1.4em;
        width: 100%;
        margin-top: 10px;
        color: #fff !important;
        text-align: left
    }

    .largeProduct .product-tile .BUYNOW {
        position: absolute;
        bottom: 10%;
        right: 2%;
        z-index: 99;
        background-color: #d31b28;
        color: #fff;
        width: 85px;
        text-align: center;
        height: 30px;
        line-height: 30px;
        font-weight: 500;
        font-size: .875em;
        border-radius: 5px
    }

    .largeProduct .product-tile .salePrice {
        color: #fff;
        font-size: 2em;
        font-weight: 500;
        padding-bottom: 5px;
        margin-top: 0;
        margin-top: 10px
    }

    .largeProduct .product-tile .model {
        font-size: .75em;
        color: #fff;
        text-align: right;
        margin-top: 70px;
        margin-right: 5px
    }

    .pg_internal .promo_box_33 {
        width: 98%;
        margin-left: .5%;
        float: left;
        position: relative;
        border: 1px solid #ccc
    }

    .singleproduct {
        width: 100%;
        max-height: 135px;
        min-height: 135px
    }

    .priceonly {
min-height: 168px;
max-height: 168px;
}

.priceonly .product-tile .price-container {
   text-align: left;
   position: absolute;
   top: 750%;
   font-size: 130%;
}



.small_info {

margin-top: 0%;
}
.small_info .originalPrice, .small_info .savings, .small_info .variantList, .small_info .product-image, .small_info .BUYNOW {
display: block;
}

.down_arr {
max-width: 60px;
bottom: 115px;
}
.pg_internal .promo_box_100 {
min-height: 100px;
margin-bottom: 15px;
}

}

@media (max-width: 360px) {
.submenu_title {
display: none;
}
.topmenu {
min-height: 25px;
}


}


/* micro fixes append to full css file in beta 2 */
.pg_internal {
    min-height: 2200px;
}
.gridproducts li:nth-child(6) .product-tile , .gridproducts li:nth-child(9) .product-tile , .gridproducts li:nth-child(12) .product-tile {
    border-right: none;
}
.flyer_title {
background-color: #034694
}

.internal_menu {
    width: 90%;
    position: relative;
    float: left;
    overflow: auto;
    max-width: 1100px;
}

.internal_overflow {
    position: relative;
    float: left;
    width: 180%;
}

.myarrowsd {
    width: 5%;
    float: left;
    position: relative;
    background-size: cover;
    min-height: 50px;
    max-height: 10%;
    
    cursor: pointer;

}

.myarrowsd img {
    padding: 0;
    width: 65%;
    padding-top: 38%;
    display: none;
}


.myarrowsd img:hover {
    padding-top: 34%;
}
.submenu-d {
    max-width: 120px;

}


.internal_menu::-webkit-scrollbar {
  display: none;
}

.whatiam {
    border-top: 1px solid #034694;
}

.pg_internal .promo_box_100, .pg_internal .promo_box_50, .pg_internal .promo_box_33 {
    max-height: 600px;
    overflow: hidden;
}

.promo_box_100 object, .promo_box_33 object, .promo_box_50 object {
    max-height: 600px;
}

.see_me_at_the_bottom {
    position: fixed;
    bottom: 20px;
    min-height: 80px;
    width: 100%;
    z-index: 9999;
    max-width: 1175px;
    pointer-events: none;
    opacity: 1;
    display: none;
}

.gridproducts {
    padding-top: 3px;
}

#down_arrow2 {
    width: 50%;
    max-height: 70px;
    float: right;
    max-width: 60px;
    pointer-events: all;
    margin-right: -70px;
}

.pg_internal .promo_box_50 {
    min-height: 190px;
}

.topmenu {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.variantList {
    min-height: 25px;
}


.whatiam {
    background-color: #dde1e5;
    font-size: 0.75em;
    padding: 3px;
    padding-left: 1%;
    padding-top: 5px;
    margin-bottom: 0px;
    border-top: 1px solid #ccc;
    font-weight: 600;
}

@media (width: 768px) {

    .pg_internal .promo_box_50 {
    min-height: 150px;
}

.package .product-tile {
min-height: 380px;
}

.product-details-container {
    font-size: .775em;
}

.variantList {
    display: none;
}
.submenu_title {
    font-size: .665em;
}

.BUYNOW {
    width: 80px;
    height: 30px;
    line-height: 30px;
    font-size: .8em;
}
.package {
    min-height: 320px;
}

.package .product-image {
    width: 100%;
}

.package .product-image img {
    margin-left: 0%;
    width: 100%;
    max-height: 220px;
}

.package .product-tile {
    min-height: 320px;
}
.product-tile {
    min-height: 330px;
}

.pg_internal .promo_box_100 {
    min-height: initial;
}

.submenu-d {
    max-width: 80px;
}


}

@media (max-width: 767px) {
    .submenu-d {
    max-width: 60px;
}
.myarrowsd {
    width: 10%;
}
.myarrowsd img:hover {
    padding-top: 38%;
}

.myarrowsd img {
    padding: 0;
    width: 65%;
    padding-top: 68%;
}
.internal_menu {
    width: 80%;
}
.pg_internal .promo_box_100 {
    margin-bottom: 0px;
}

.pg_internal .promo_box_100, .pg_internal .promo_box_50, .pg_internal .promo_box_33 {
    max-height: 600px;
    overflow: hidden;
    min-height: auto;
}

#down_arrow2 {
    margin-right: 10px;
}

.whatiam {
    border:none
}
.gridproducts {
    background-color:transparent !important;
}

}