.browse-bottom-section p {
    line-height: 1.525em;
}

.sprb {
    width: 98%;
    float: left;
    margin-left: 0%;
    margin-bottom: 15px;
    font-weight: 500;

}


.sprb_title {
    width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
    color: #034694;
    font-size: 131.25%;
}

.sprb_title h2 {
    padding-left: 0px !important;
    font-size: 100% !important;
    color: #034694 !important;
    font-weight: normal !important;
    letter-spacing: 0.2px !important;
    padding-top: 10px !important;
}

.row-d {
    width: 33.33%;
    float: left;
    font-size: 1em;
    margin-bottom: 3px;
    min-height: 25px;

}

.row-d h3 a {
    font-size: 0.875em;
    line-height: 22px;
    font-weight: 450;
}

.row-d h3 a:hover {
    text-decoration: underline !important;
}

.row-d2 {
    width: 100%;
    margin-bottom: 10px;
    font-size: 100%;
    line-height: 22px;
    font-weight: 300;
}



.category-cartridge-container h3,
.accordion-body-content h2 {
    color: #034694;
    font-size: 100% !important;
    font-weight: normal;
    letter-spacing: 0.2px;
    margin: 0px !important;
    clear: both;
    font-size: 1.3rem !important;
}

.row-d h3 {
    font-size: 1rem;
    margin-bottom: 3px;
    margin-top: 3px;
}

.accordion-body-content p a {
    font-weight: 400;
}


@media (width: 768px) {

    .row-d {
        width: 50%;
        float: left;
        margin-bottom: 8px;

    }

    .sprb {
        width: 100%;
        float: left;
        margin-left: 0%;
        margin-bottom: 15px;
    }

}

@media (max-width: 767px) {

    .row-d {
        width: 47%;
        float: left;
        margin-bottom: 5px;
        margin-right: 1.5%;
    }

    .row-d h3 {
        font-size: 0.825rem;
        margin-bottom: 3px;
        margin-top: 3px;
    }

    .row-d h3 a {
        font-size: 85%;
        line-height: 22px;
        font-weight: 450;
    }

    .row-d:nth-child(even) {
        width: 50%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .row-d:nth-child(odd) {
        width: 50%;
        margin-right: 0%;
        margin-left: 0%;
    }

    .sprb {
        width: 100%;
        float: left;
        margin-left: 0%;
        margin-bottom: 15px;
    }

    .sprb_title h2 {
        padding-left: 0px !important;
        font-size: 1.3rem !important;
        color: #034694 !important;
        font-weight: normal !important;
        letter-spacing: 0.2px !important;
        padding-top: 10px !important;
    }

}